.story {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: .5em;
}

.title {
    display: flex;
    font-size: large;
}

.stats {
    display: flex;
    font-size: small;
    /* height: 1.5em; */
    margin-left: 1.75em;
}

.link {
    margin-left: .5em;
}